$black: #141414;
$white: #fff;

.full-screen {
  max-width: 100% !important;
  width: 100% !important;
  position: fixed !important;
  z-index: 10000 !important;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
}
.tiles {
  width: 100% !important;
  position: relative !important;
}
.position-row-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-53%);
  transform: translateY(-53%);
  width: 100%;
  max-height: 90%;
}
.position-tray-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.light-theme {
  .ant-descriptions-item span,
  .ant-page-header-content div {
    color: $black !important;
  }

  .ant-btn-group.ant-dropdown-button button,
  .ant-btn {
    background-color: $white !important;
    color: $black;
  }
}

.ant-card.setting-card {
  box-shadow: 0px 2px 7px 2px #88888833;
}

.dark-theme {
  color: $white !important;
  .ant-descriptions-item span,
  .ant-page-header-content div {
    color: $white !important;
  }

  .ant-btn-group.ant-dropdown-button button,
  .ant-btn {
    background-color: $black !important;
    color: $white;
  }

  .ant-tabs-tab {
    color: $white;
  }
  .word-list,
  .ant-tabs-tab,
  .ant-typography {
    color: $white;
  }
}
